# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]
    app_cors_listener:
        class: AppBundle\Listener\CorsListener
        tags:
                - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest , priority: 100}
                - { name: kernel.event_listener, event: kernel.response, method: onKernelResponse, priority: -100}
            
    app.tokens.action_listener:
        class: AppBundle\EventListener\TokenListener
        arguments: ['%tokens%']
        tags:
            - { name: kernel.event_listener, event: kernel.controller, method: onKernelController}
            - { name: kernel.event_listener, event: kernel.response, method: onKernelResponse }
